@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        A simple web application for managing employee contact lists using ASPNET CORE MVC and EF CORE.</a>
        <br />
              
            <a asp-action="index" asp-controller="employees">Employee Contacts</a><br />
            <a asp-action="index" asp-controller="departments">Departments</a>
    </p>
</div>
